<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pozoriste">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_KEYGUARD_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pozoriste">
        <activity
            android:name=".PrikazRezervacijaActivity"
            android:exported="false" />
        <activity
            android:name=".RezervacijaActivity"
            android:exported="false" />
        <activity
            android:name=".ProjekcijaActivity"
            android:exported="false" />
        <activity
            android:name=".PredstaveActivity"
            android:exported="false" />
        <activity
            android:name=".PrijavaActivity"
            android:exported="false" />
        <activity
            android:name=".RegistracijaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>